@keyframes back-glow {
  from {
    background-position: 0 0;
  } to {
    background-position: 33% 33%;
  }
}


body {
  margin: 0;
  padding: 0;
  background: radial-gradient(black, black 25%, red 45%, black 50%, white 90%);
  background-size: 666% 666%;
  animation: back-glow 127s alternate infinite;
}

#background {
  top: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url('/tile.png');
  background-size: 27%;
  background-repeat: repeat;
  z-index: -1;
}